html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 60%;
  line-height: 60px;
  text-align: center;
  background-color: #f5f7fa;
}
.helloInput {
  width: 300px;
}

.mat-toolbar.mat-primary {
  color: white;
  background: #004283;
  padding-right: 0;
  height:30px; 
  width:600px;
  margin: auto;
}
.center-container {
color: #000000;
padding-right: 0;
height:50px; 
width:600px;
margin: auto;
}

.sucessMessage {
color: #4F8A10;
font-size: 100%;
background-color: #DFF2BF;
padding-top: 2%;
padding-right: 20%;
padding-bottom: 2%;
padding-left: 20%;
width: 60%;
}


.center-container-makoto {
color: #000000;
padding-right: 0;
padding-left: 0;
padding-top: 5px;
padding-bottom: 0;
height:900px; 
width:900px;
margin: auto;
margin-left:auto;
margin-right:auto;
display:block;
}

.chat-list {
overflow: auto;
}

.chat-input {
padding-top: 20px;
width: 80%; 
}

.chat-notification {
text-align: center;
}

.chat-list-item {
margin-top: 2px;
margin-bottom: 2px;
border-radius: 5px;
background-color: #FFFFFF;
}

.icon {
padding: 0 14px;
}

.spacer {
flex: 1 1 auto;
}

.column {
float: left;
width: 50%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.login-fields{
padding-top: 2%;
padding-right: 5%;
padding-left: 5%;
width: 310px;
}

.button-query-global {
color: white;
background: #004283;
padding-top: 2%;
padding-right: 5%;
padding-left: 5%;
width: 200px;
}

.button-query-send {
color: white;
background: #004283;
padding-top: 2px;
padding-left: 2px;
width: 80px;
}

.textarea-message{
padding-top: 2px;
padding-left: 6px;
padding-right: 2px;
width:460px;
}

.errorMessage{
font-size: 100%;
color: #D8000C;
background-color: #FFD2D2;
padding-top: 2%;
padding-right: 20%;
padding-bottom: 2%;
padding-left: 20%;
width: 350px;
}

.background-chat{
background: #dae8f1;
border:2px solid #004283;
width: 565px;
height: 400px;
overflow-x: hidden; 
overflow-x: auto; 
text-align:justify;
}
body {
  font-family: monospace;
}
h1 {
  background-color: yellow;
  display: inline-block;
  font-size: 3em;
  margin: 0;
  padding: 14px;
}
h3 {
  color: black;
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}
#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 50%;
  margin-top: 60px;
}
#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}
#textInput {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  font-family: monospace;
  font-size: 17px;
}
.userText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background-color: #808080;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background-color: #4169e1;
  padding: 10px;
  border-radius: 2px;
}
#tidbit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}
.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 60px;
  border: 1px solid rgb(38, 124, 38);
}
.box {
  border: 2px solid black;
}